@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@font-face {
	font-family: "GmarketSansMedium";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: "GmarketSansMedium", sans-serif;
}

.hide-header header {
	display: none;
}

.wrap-text {
	white-space: pre-wrap; /* 줄바꿈과 공백을 유지합니다. */
	word-wrap: break-word; /* 긴 단어가 자동으로 줄바꿈됩니다. */
}

@media (max-width: 768px) {
	.fixed {
		width: 100%;
		height: 100%;
	}
	.responsive-image-container {
		width: 100%;
		height: auto;
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
	.responsive-image-container {
		width: 80%;
		height: auto;
	}
}

.ReactModal__Content {
	position: absolute;
	top: 50%;
	left: 50%;
	right: auto;
	bottom: auto;
	transform: translate(-50%, -50%);
	width: 80%;
	max-width: 300px;
	height: auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
	.ReactModal__Content {
		top: 200% !important; /* 모바일에서 모달이 더 중앙에 위치하도록 조정 */
		transform: translate(-50%, -30%) !important;
		width: 90% !important;
	}
}

.page-enter {
	opacity: 0;
	transform: translateX(100%);
}

.page-enter-active {
	opacity: 1;
	transform: translateX(0);
	transition: opacity 300ms, transform 300ms;
}

.page-exit {
	opacity: 1;
	transform: translateX(0);
}

.page-exit-active {
	opacity: 0;
	transform: translateX(-100%);
	transition: opacity 300ms, transform 300ms;
}

#unityContainer {
	width: 960px;
	height: 600px;
	background-color: black;
}

.background {
	background-attachment: fixed;
}

@media (max-width: 768px) {
	.background {
		background-attachment: fixed;
	}
}

@keyframes scroll-left {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-50%);
	}
}

@keyframes scroll-right {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(100%);
	}
}

.photo-row {
	display: flex;
	width: max-content;
	animation: scroll-left 45s linear infinite;
}

/* .photo-row {
	display: flex;
	white-space: nowrap;
	transition: transform 0.1s linear;
  }
   */
* {
	font-family: "GmarketSansMedium", -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
	word-break: keep-all;
}

input::placeholder {
	font-family: "GmarketSansMedium", -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
	word-break: keep-all;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

.video-container {
	position: relative;
	width: 100%;
	aspect-ratio: 16/9;
}

.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
